<!DOCTYPE html>
<html>
<head>
  <title>MiniPin</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="https://use.fontawesome.com/5e9ad71d7a.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

  <script type="text/javascript">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: '<%= cloud_name %>',
      upload_preset: '<%= cloud_presets %>',
      cropping: "server",
      stylesheet: 'https://googledrive.com/host/0B-Kd0TUROtfCMlk2NmI3MGc3bGM'
    };
  </script>
</body>
</html>
